Package: com.nightwind.folderartworkremade
Name: FolderArtwork Remade
Version: 0.0.1.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Nightwind
Author: Nightwind
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
